#chart {
    max-width: 800px;
    height: 400px;
  }

  #chart svg {
    width: 100%;
    height: 100%;
  }

  .chart-title {
    font-size: 10px;
    font-weight: bold;
    text-anchor: middle;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    height: 100vh;
    padding: 10px;
    box-sizing: border-box;
}

.quadrant {
    background-color: #ddd;
    padding: 10px;
}

.quadrant.one {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.quadrant.two {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.quadrant.three {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.quadrant.four {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

@media only screen and (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }

    .quadrant.one {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .quadrant.two {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .quadrant.three {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    .quadrant.four {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }
}